* {
    background-color: black;
    color: white;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: crosshair;
    font-family: monospace;
    font-size: large;
    text-decoration: none;
}

a:hover, details>summary:hover {
    background-color: white;
    color: black;
}

#bookmarks>details>details {
    padding-left: 1em;
}

#bookmarks>details>details>ul{
    padding-left: 2em;
}

#bookmarks>details>details>ul>li>a{
    display: block;
}
