* {
    background-color: black;
    color: white;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: crosshair;
    font-family: monospace;
    font-size: large;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
}

#TOAST {
    z-index: 1;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0px;
}

#TOAST>span {
    display: table;
    margin: 0 auto 5px;
    white-space: pre-wrap;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
    border-radius: 10px;
}

#TOAST>span.toastShow {
    animation: toastShow 100ms linear;
}

@keyframes toastShow {
    0% {
        font-size: 0em;
    }

    100% {
        font-size: 1em;
    }
}

#TOAST>span.toastHide {
    animation: toastHide 1000ms linear forwards;
}

@keyframes toastHide {
    0% {
        font-size: 1em;
        padding: 10px;
        opacity: 100%;
    }

    100% {
        font-size: 0em;
        padding: 0px;
        opacity: 0%;
    }
}